{% extends 'base.html' %}

{% block title %}Blog{% endblock %}


{% block content %}

    <header>
        <div class="m-1 ">
            <div class="text-end">
                <a href="{% url 'postnew' %}">+ New Blog Post</a>
            </div>
        </div>     
    </header>

    {% for post in all_posts %}
    <div class="row">
        <div class="m-4 ">
            <div class="card" style="width: 50%; margin: auto;">
                    <img src="{{ post.post_image.url }}" class="card-img-top" alt="-">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.text|truncatewords:30|safe }}</p>
                        <a href="{% url 'post' post.id %}" class="btn btn-primary">Read More</a>
                    </div>
            </div>
        </div>
        
    </div>
    {% endfor %}

{% endblock %}


