{% extends 'base.html' %}


{% block title %}Home{% endblock %}



{% block content %}
<body>
<div class="m-3">
    <div class = "container-fluid">
        <div class="p-5 my-4 bg-light rounded-3">
            <h1>Welcome my website</h1>
            <p class="lead">This blog website you learn amazing tips for beatmaking and other producion staff, just press 'blog' on bar (top of the side) or click the following button</p>
            <p><a href="blog/" target="_blank" class="btn btn-success btn-lg">Blog Page</a></p>
        </div>

    </div>
</div>
</body>
{% endblock %}

