{% extends 'base.html' %}


{% block title %}{{ post.title }}{% endblock %}</div>


{% block content %}

<div class="m-3">
    
    <div class = "container-fluid">
        <div class="text-center">
        <img src="{{ post.post_image.url }}" alt="-" style="width: 50%; height: 50%;">
        <br><br>

        <h1>{{ post.title }}</h1>

        <h3>{{ post.author }}</h3>

        <h5>{{ post.pub_date }}</h5>
        <br>
    </div>
         <a>{{ post.text }}</a>
        </div>
        <br>
        <br>
    
</div>

{% endblock %}
